/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleDown {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}