/* Print styles */
.print {
    display: none !important;
}

@media print {

    body {
        font-size: 11px;
    }

    .main-grid section:not(:first-of-type){
        padding-bottom: 0;
    }

    .noprint {
        display: none !important;
    }

    .print {
        display: initial !important;
    }

    .header-container {
        display: none;
    }

    .img-profile {
        width: 196px;
        height: 198px;
        margin-bottom: 25px;
    }

    .skill-cards-container {
        display: flex;
        flex-direction: column;
    }

    .skill-card {
        align-items: flex-start;
    }

    .skill-details {
        display: block;
    }

    .pagebreak {
        page-break-before: always;
    }

    .skill-click {
        display: none;
    }

    .social > .button {
        display: none;
    }

    .timeline .timeline-cards > .timeline-card .meta::before {
        animation: none;
        transform: scaleY(1);
    }

    .timeline .timeline-cards {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .footer-container {
        display: none;
    }

    .cert-card-logo {
        filter: none !important;
    }

    .section-title {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .skill-cards-container {
        grid-template-columns: 1fr 1fr !important;
    }

    .skill-cards-container .card .item.top-item {
        min-height: 0 !important;
    }

    .skill-cards-container .card .item.top-item {
        min-height: 0 !important;
    }

    .skill-cards-container .card .item.detail {
        transform: translateY(0) !important;
        opacity: 1 !important;
    }

    .skill-cards-container .card .item.top-item .content{
        border-radius: 15px 15px 0px 0px !important;
    }
}