/* Page styling */
.page-wrapper {
    max-width: var(--page-width);
    height: auto;
    margin: 0px auto;
    display: grid;
    grid-template-rows: repeat(2, max-content);
}

.page-wrapper.has-header {
    margin-top: calc(var(--header-size) + 1.5em);
}

.main-grid {
    display: grid;
    gap: 0.5rem;
    padding: 0rem 1rem 0rem 1rem;
}

.main-grid section:not(:first-of-type){
    padding-bottom: 5rem;
}


.section-footer {
    padding-bottom: 1rem;
}

.section-next-chapter {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
}

.section-next-chapter:hover .gg-corner-right-down {
    animation-name: mouseAnim;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.section-next-chapter:hover {
    text-decoration: none;
}

.mouse-anim {
    animation-name: mouseAnim;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

/* About section */
.hero-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-template-rows: repeat(3, min-content); 
    padding-bottom: 1rem;
    scroll-margin-top: 100px;
    min-height: calc(100vh - var(--header-size) - 1.5rem);
    justify-content: space-between;
}

@media (max-width: 1366px) {
    .hero-container {
        min-height: calc(100dvh - var(--header-size) - 1.5rem);
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero > p {
    font-weight: 800;
    letter-spacing: 0.35rem;
    margin-top: 0.5rem
}

.profile-picture {
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid rgba(var(--accent-color-rgb), 0.8);
    margin-bottom: 2rem;
}

.hero-title {
    font-size: clamp(4rem, 20vw, 8rem);
    line-height: 1;
    position: relative;
    letter-spacing: 0.25rem;
    font-weight: bold;
}

.hero-title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 15rem;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
}

.name-header {
    font-size: 5rem;
    font-weight: 300;
    position: relative;
    /* word-spacing: 9999999px; */
}

.job-title {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.social {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.social .button {
    /* display: none; */
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    min-width: 250px;
}

.lead {
    font-size: 2rem;
    font-weight: 300;
    line-height: 55px;
}

/* List card styling */

.section-title {
    font-size: 2rem;
    font-weight: 600;
}

.main-grid > .section-title:not(:first-of-type) {
    padding: 1rem 0 0 0;
}

.list-card {
    margin-top: 1rem;
    /* display: flex;
    flex-direction: column; */
}

.list-card.exp {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
}

.list-card.exp .exp-text,
.list-card span {
    color: var(--accent-color);
    font-weight: 600;
}

.list-card.exp .exp-text {
    text-align: center;
    margin-right: 15px;
}

.list-card.exp .exp-description h3 {
    margin: unset;
}

.list-card.exp .exp-description span {
    color: var(--body-color);
    line-height: 22px;
    font-weight: inherit;
}

.list-card p {
    padding-top: 1rem;
}

.list-card .software-experience li {
    list-style: circle;
    margin-left: 1rem;
    line-height: 22px;
}

/* Certifications */
.certifications-list {
    display: grid;
    gap: 1rem;
}

.certifications-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
    gap: 2rem;
}

@media (max-width: 768px) {
    .certifications-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
        gap: 1rem;
    }
}

.cert-card {
    height: 150px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--skill-card-bg);
    border: 1px solid var(--skill-card-border-color);
    border-radius: 10px;
}

.cert-card p {
    margin: 0;
    max-width: 90%;
    text-align: center;
}

.cert-card-logo {
    max-width: 150px;
    max-height: 40px;
}


@media (max-width: 768px) {
    .cert-card {
        gap: 1rem;
    }
    
    .cert-card p {
        margin: 0;
        max-width: 90%;
        text-align: center;
        font-size: 0.8rem;
    }

    .cert-card-logo {
        max-width: 120px;
        max-height: 35px;
    }
}

html[data-theme="dark"] .cert-card-logo {
    filter: brightness(100%) grayscale(100%) invert(1);
}

/* Dev list */

.dev-list-inline {
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    flex-wrap: wrap;
}

.dev-list-inline .dev-list-inline-item {
    font-size: 3rem;
    transition: all 300ms;
    color: var(--dev-icon-color);
}

.dev-list-inline .dev-list-inline-item:hover,
.dev-list-inline .dev-list-inline-item:focus {
    transform: scale(1.05);
    color: var(--accent-color);
    text-shadow: 0px 0px 2px rgb(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Timeline styles*/
.timeline {
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.timeline-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.timeline-cards > .timeline-card {
    padding: 0;
}

.timeline-content {
    position: relative;
}

.timeline-content::before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% + 30px);
    left: 1px;
    top: 0;
    background-color: #4f4f4f
}

.timeline-content:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: -1px;
    top: calc(100% + 30px);
    /* margin-top: -4px; */
    background-color: var(--accent-color);
}

.timeline-content > .header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.timeline-content .meta {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.timeline-content .meta::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 1px;
    top: 0;
    background-color: rgba(var(--accent-color-rgb), 1);
    transform: scaleY(0);
}

.timeline-content > .meta > .title {
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    font-weight: normal;
    max-width: 95%;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 25px;
    color: var(--h3-color);
}

.timeline-content > .meta:first-of-type > .title {
    margin-top: 0;
    padding-top: 0;
}

.timeline-content > .meta > .date {
    font-size: 0.9rem;
    color: var(--body-color);
    font-weight: 300;
}

.timeline-content > .meta > .description {
    font-size: 0.9rem;
    color: var(--body-color);
    font-weight: 400;
    margin-top: 1rem;
}

.timeline-content.animate .meta::before {
    transform-origin: top;
    animation: 1s ease-in both scaleUp;
}

.timeline-content.animate .meta:nth-of-type(2)::before {
    animation-delay: 1s;
}

.timeline-content.animate .meta:nth-of-type(3)::before {
    animation-delay: 2s;
}

.timeline-content.animate .meta:nth-of-type(4)::before {
    animation-delay: 3s;
}

/* Footer */
.footer-container {
    max-width: 500px;
    height: auto;
    margin: 0px auto;
    padding: 2rem;
    text-align: center;
}

.footer-container p {
    font-size: 0.8rem;
    color: var(--body-color);
    font-weight: 300;
}

/* Media queries */
@media (max-width: 768px) {
    html {
        --screen-sm: true;
    }

    .page-wrapper {
        max-width: 100vw;
    }

    .page-wrapper.nav-active {
        transition: transform 200ms ease;
        transform: translateX(250px);
    }

    .profile {
        display: block;
    }

    .social .button {
        margin-right: 0.2rem;
        margin-bottom: 0.2rem;
        min-width: unset;
    }

    .img-profile:hover {
        transform: unset;
    }

    .main-grid {
        grid-area: auto;
    }

    .img-profile {
        width: 165px;
        height: 168px;
        margin-bottom: 1rem;
        transition: none;
    }

    .lead {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1;
    }

    .skill-cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, max-content);
        grid-auto-flow: row;
    }

    .skill-cards-container .skill-card:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .skill-cards-container .skill-card:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    .skill-cards-container .skill-card:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    .skill-cards-container .skill-card:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }

    .skill-cards-container .skill-card.active {
        grid-row: span 1;
        z-index: 1;
    }

    .skill-card:hover {
        transform: none;
        cursor: pointer;
    }

    .skill-cards-container:has(.skill-card.active) .skill-card:not(.active) {
        opacity: initial;
    }

    .skill-cards-container .skill-card {
        padding: 0.9rem;
    }

    .timeline {
        grid-template-columns: unset;
    }

    .timeline .timeline-cards {
        grid-template-columns: unset;
    }

    .dev-list-inline {
        justify-content: unset;
    }

    .dev-list-inline .dev-list-inline-item {
        padding: 0.5rem;
    }
}
