/* Page styling */
.page-wrapper {
    max-width: 1100px;
    height: auto;
    margin: 0px auto;
    padding: 0 1rem 0rem 1rem;
}

.main-grid {
    display: grid;
    grid-auto-flow: row;
    gap: 0.5rem;
}

/* Header */
.header-container {
    position: sticky;
    top: 5px;
    display: flex;
    z-index: 9999;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 5px;
}

header {
    display: flex;
    gap: 1rem;
    height: max-content;
    min-width: 150px;
    padding: 1rem;
    background-color: var(--light);
    border-radius: 10px;
    border: 1px solid var(--accent-color);
    transition: transform 300ms;
}

header.hidden {
    transform: translateY(-110%);
}

/* About section */
.about-container {
    display: grid;
    min-height: 95vh;
    gap: 1rem;
    grid-template-rows: repeat(2, min-content);
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile {
    display: flex;
    gap: 1rem;
    margin-bottom: 5px;
}

.img-profile {
    width: 96px;
    height: 100px;
    border-radius: 50%;
    border: solid 2px var(--img-profile-border);
    transition: all 300ms;
    z-index: 1010;
}

.img-profile:hover {
    transform: scale(2);
}

.name-header {
    font-size: 5rem;
    font-weight: 300;
    position: relative;
}

.job-title {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.social {
    display: block;
}

.social .button {
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 250px;
    width: 250px;
}

.email {
    display: block;
    font-size: 24px;
    font-weight: 300;
    color: var(--gray-blue);
    margin-top: 10px;
}

.lead {
    font-size: 2rem;
    font-weight: 300;
    line-height: 55px;
}

/* List card styling */

.section-title {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0 0 0;
}

.list-card {
    margin-top: 1rem;
    /* display: flex;
    flex-direction: column; */
}

.list-card.exp {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
}

.list-card.exp .exp-text,
.list-card span {
    color: var(--accent-color);
    font-weight: 600;
}

.list-card.exp .exp-text {
    text-align: center;
    margin-right: 15px;
}

.list-card.exp .exp-description h3 {
    margin: unset;
}

.list-card.exp .exp-description span {
    font-size: 16px;
    color: var(--gray-blue);
    line-height: 22px;
}

.list-card p {
    padding-top: 1rem;
}
.list-card .software-experience li {
    list-style: circle;
    margin-left: 1rem;
    font-size: 16px;
    line-height: 22px;
}

.list-card.certifications p {
    padding-top: 1rem;
}

.list-card.certifications ul li span {
    margin-left: -5px;
    color: var(--accent-color);
    font-weight: 600;
}

.list-card.certifications ul li {
    font-size: 16px;
    color: var(--gray-blue);
    line-height: 22px;
}

.dev-list-inline {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dev-list-inline .dev-list-inline-item {
    padding: 0.5rem 0 0.5rem 0;
    font-size: 3rem;
    transition: 300ms;
    padding: 0;
    color: var(--gray-blue);
}

.dev-list-inline .dev-list-inline-item:hover {
    transform: scale(1.05);
    color: var(--accent-color-light);
    text-shadow: 0px 0px 2px rgb(0, 0, 0, 0.3);
    cursor: pointer;
}

/*skill and intrests ends*/

/* Achievements */
.skill-cards-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 200px 1fr;
    gap: 1rem;
    transition: all ease-in-out 400ms;
}

.skill-card {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 400ms;
}

.skill-cards-container .skill-card:nth-child(1) {
    grid-column: 1 / -1;
    grid-row: 1;
}

.skill-cards-container .skill-card:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.skill-cards-container .skill-card:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}

.skill-cards-container .skill-card:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
}

.skill-card:hover {
    transform: scale(1.05);
    background-color: var(--skill-card-hover);
    box-shadow: 0px 5px 50px -8px var(--light);
    cursor: pointer;
}

.skill-level {
    display: inline-block;
    max-width: 160px;
}

.skill-level span {
    font-size: 35px;
    font-weight: 300;
    color: var(--gray-blue-dark);
    vertical-align: top;
}

.skill-level h2 {
    font-size: 95px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    color: var(--gray-blue-dark);
    letter-spacing: -5px;
    animation: 1s ease-in both fadeIn;
}

.skill-meta {
    vertical-align: top;
    display: inline-block;
    max-width: 450px;
    margin-left: 15px;
}

.skill-meta h3 {
    font-size: 20px;
    font-weight: 800;
    color: var(--gray-blue-dark);
    margin-bottom: 5px;
}

.skill-meta span {
    color: var(--gray-blue);
    line-height: 20px;
    font-size: 16px;
}

.skill-details {
    align-self: start;
    display: none;
}

.skill-cards-container .skill-card.active .skill-details {
    display: initial;
}

.skill-cards-container .skill-card.active {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    z-index: 1;
}
.skill-cards-container:has(.skill-card.active) {
    /* grid-template-columns: 1fr; */
}

.skill-cards-container:has(.skill-card.active) .skill-card:not(.active) {
    /* display: none; */
}

/* Achievements ends */

/* Timeline styles*/
.timeline {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.timeline > .timeline-card {
    padding: 0;
}

.timeline-card > .header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.timeline-card .meta {
    position: relative;
    padding-left: 1rem;
}
.timeline-card .meta::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 115%;
    left: 0.275rem;
    top: 1.275rem;
    background-color: var(--calypso);
    transform: scaleY(0);
}

.timeline-card .meta:last-of-type::before {
    background-color: unset;
    background-image: linear-gradient(to bottom, var(--calypso), transparent);
    height: 85%;
}

.timeline-card > .meta > .title {
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    font-weight: normal;
    max-width: 95%;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: var(--gray-blue-dark);
}
.timeline-card > .meta > .title::before {
    content: "";
    top: 19px;
    left: -15px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: var(--accent-color);
    position: absolute;
}

.timeline-card > .meta > .date {
    font-size: 14px;
    color: var(--gray-blue);
    font-weight: 300;
}

.timeline-card > .meta > .description {
    font-size: 16px;
    color: var(--gray-blue);
    font-weight: 400;
    margin-top: 1rem;
}

.timeline-card.animate .meta::before {
    transform-origin: top;
    animation: 1s ease-in both scaleDown;
}

.timeline-card.animate .meta:nth-of-type(2)::before {
    animation-delay: 1s;
}

.timeline-card.animate .meta:nth-of-type(3)::before {
    animation-delay: 2s;
}

.timeline-card.animate .meta:nth-of-type(4)::before {
    animation-delay: 3s;
}

/* Footer */
.footer-container {
    max-width: 500px;
    height: auto;
    margin: 0px auto;
    padding: 2rem;
    text-align: center;
}

.footer-container p {
    font-size: 14px;
    color: var(--gray-blue);
    font-weight: 300;
}

/* Media queries */
@media (max-width: 768px) {
    .about-container {
        padding-top: 0;
        min-height: 0;
    }
    .hero {
        min-height: calc(100vh - 34px - 1rem);
    }

    .profile {
        display: block;
    }

    .lead {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1;
    }

    .skill-cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, max-content);
        grid-auto-flow: row;
    }

    .skill-cards-container .skill-card:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .skill-cards-container .skill-card:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    .skill-cards-container .skill-card:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    .skill-cards-container .skill-card:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }

    .skill-cards-container .skill-card.active {
        grid-row: span 1;
        z-index: 1;
    }

    .skill-card:hover {
        transform: none;
        cursor: pointer;
    }

    .skill-cards-container .skill-card {
        padding: 0.9rem;
    }

    .timeline {
        grid-template-columns: unset;
    }

    .dev-list-inline {
        justify-content: unset;
    }

    .dev-list-inline .dev-list-inline-item {
        padding: 0.5rem;
    }
}

@media print {
    .skill-cards-container {
        display: flex;
        flex-direction: column;
    }

    .skill-card {
        align-items: flex-start;
    }

    .skill-details {
        display: block;
    }

    .pagebreak {
        page-break-before: always;
    }

    .social > .button {
        display: none;
    }

    .timeline > .timeline-card .meta::before {
        animation: none;
        transform: scaleY(1);
    }

    .footer-container {
        display: none;
    }
}

/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleDown {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}
