html, 
::after, 
::before{
    --gray-blue: #81899c;
    --gray-blue-light: #d9e7f8;
    --light: #eef0f7;
    --skill-card-hover: #fff;
    --body-bg: #fefefe;
    --dark-blue: #04143a;
    --calypso: #31708f;
    --accent-color-light: #48a4d2;
    --accent-color: #4a90e2;
    --gray-blue-dark: #5b6a9a;
    --slider-bg: #dddddd;
    --slider-bg-before: #fff;
    --light-gray: rgb(189, 189, 189);
    --img-profile-border: #000;
}

html[data-theme="dark"],
html[data-theme="dark"] ::after,
html[data-theme="dark"] ::before {
    --gray-blue: #81899c;
    --gray-blue-light: #d9e7f8;
    --light: #eef0f7;
    --skill-card-hover: #fff;
    --body-bg: #303030;
    --dark-blue: #04143a;
    --calypso: #31708f;
    --accent-color-light: #48a4d2;
    --accent-color: #4a90e2;
    --gray-blue-dark: #5b6a9a;
    --slider-bg: #dddddd;
    --slider-bg-before: #fff;
    --slider-input-bg: var(--accent-color-light);
    --light-gray: rgb(189, 189, 189);
    --img-profile-border: var(--accent-color);
}

