---
import Layout from "../../layouts/Layout.astro";
import "../../styles/styles.css";
import LanguageSelector from "../../components/LanguageSelector.astro";
import DarkModeToggle from "../../components/DarkModeToggle.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title={`${t("shared:NamePossesive")} ${t("shared:Resume")}`}>
    <div class="page-wrapper">
        <div class="header-container">
            <header>
                <DarkModeToggle />
                <LanguageSelector showFlag={true}/>
            </header>
        </div>
        <main class="main-grid">
            <div class="about-container">
                <!-- Introduction -->
                <div class="hero">
                    <div class="profile">
                        <img class="img-profile" src="/assets/img/profile.png" />
                        <div class="name">
                            <h1 class="name-header">
                                <strong>Dalibor</strong> Hon
                            </h1>
                            <span class="job-title">{t("index:CurrentPosition")}</span>
                        </div>
                    </div>
                    <div class="social">
                        <button class="button" onclick="window.print()"><a href="#">{t("shared:DownloadResume")}</a></button>
                        <button class="button"><a href="https://www.linkedin.com/in/dalibor-hon/" target="_blank">LinkedIn</a></button>
                    </div>
                    <h2 class="lead">{t("index:Lead")}</h2>
                    <p class="about-me">{t("index:AboutIntroduction")}</p>
                </div>

                <!-- Achievements -->
                <section class="skill-cards-container">
                    <div class="skill-card">
                        <div class="skill">
                            <div class="skill-level">
                                <span>+</span>
                                <h2 data-count="45">45</h2>
                            </div>
                            <div class="skill-meta">
                                <h3>{t("index:CardProjectTitle")}</h3>
                                <span>{t("index:CardProjectDescription")}</span>
                            </div>
                        </div>
                        <p class="skill-click">{t("index:CardClick")}</p>
                        <div class="skill-details">
                            <p>{t("index:CardProjectDetail")}</p>
                        </div>
                    </div>
                    <div class="skill-card">
                        <div class="skill">
                            <div class="skill-level">
                                <h2 data-count="50">50</h2>
                                <span>%</span>
                            </div>
                            <div class="skill-meta">
                                <h3>{t("index:CardBATitle")}</h3>
                                <span>{t("index:CardBADescription")}</span>
                            </div>
                        </div>
                        <p class="skill-click">{t("index:CardClick")}</p>
                        <div class="skill-details">
                            <p>{t("index:CardBADetail")}</p>
                        </div>
                    </div>
                    <div class="skill-card">
                        <div class="skill">
                            <div class="skill-level">
                                <h2 data-count="30">30</h2>
                                <span>%</span>
                            </div>

                            <div class="skill-meta">
                                <h3>{t("index:CardImplementationTitle")}</h3>
                                <span>{t("index:CardImplementationDescription")}</span>
                            </div>
                        </div>
                        <p class="skill-click">{t("index:CardClick")}</p>
                        <div class="skill-details">
                            <p>{t("index:CardImplementationDetail")}</p>
                        </div>
                    </div>
                    <div class="skill-card">
                        <div class="skill">
                            <div class="skill-level">
                                <h2 data-count="20">20</h2>
                                <span>%</span>
                            </div>
                            <div class="skill-meta">
                                <h3>{t("index:CardDevTitle")}</h3>
                                <span>{t("index:CardDevDescription")}</span>         
                            </div>
                        </div>
                        <p class="skill-click">{t("index:CardClick")}</p>
                        <div class="skill-details">
                            <p>{t("index:CardDevDetail")}</p>
                        </div>
                    </div>
                </section>
            </div>
            <hr class="spacer" />
            <!-- Skills section -->
            <h2 class="section-title">{t("index:SectionSkills")}</h2>
            <section class="skills">
                <p>
                    {t("index:SkillsIntroduction")}
                </p>

                <div class="list-card exp">
                    <div class="exp-text">+ 1 {t("index:SkillsYears")}</div>
                    <div class="exp-description">
                        <h3>{t("index:SkillsOOP")}</h3>
                        <span>{t("index:SkillsOOPDescription")}</span>
                    </div>
                </div>

                <div class="list-card exp">
                    <div class="exp-text">+ 2 {t("index:SkillsYears")}</div>
                    <div class="exp-description">
                        <h3>{t("index:SkillsBA")}</h3>
                        <span>{t("index:SkillsBADescription")}</span>
                    </div>
                </div>

                <div class="list-card exp">
                    <div class="exp-text">+ 2 {t("index:SkillsYears")}</div>
                    <div class="exp-description">
                        <h3>{t("index:SkillsWindowsServers")}</h3>
                        <span>{t("index:SkillsWindowsServersDescription")}</span>
                    </div>
                </div>

                <div class="list-card exp">
                    <div class="exp-text">+ 4 {t("index:SkillsYears")}</div>
                    <div class="exp-description">
                        <h3>{t("index:SkillsDatabases")}</h3>
                        <span>{t("index:SkillsDatabasesDescription")}</span>
                    </div>
                </div>

                <div class="list-card">
                    <h3>{t("index:SkillsProgrammingLangAndTools")}</h3>
                    <ul class="dev-list-inline">
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="HTML5">
                            <i class="fab fa-html5"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="CSS3">
                            <i class="fab fa-css3-alt"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="JavaScript">
                            <i class="fab fa-js-square"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="Node JS">
                            <i class="fab fa-node-js"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="SASS">
                            <i class="fab fa-sass"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="NPM">
                            <i class="fab fa-npm"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="Webpack">
                            <i class="devicon-webpack-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="C#">
                            <i class="devicon-csharp-line"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text=".NET Framework">
                            <i class="devicon-dot-net-plain-wordmark"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text=".NET Core">
                            <i class="devicon-dotnetcore-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="Bootstrap">
                            <i class="devicon-bootstrap-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="MSSQL">
                            <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="GIT">
                            <i class="devicon-git-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="jQuery">
                            <i class="devicon-jquery-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="Adobe Photoshop">
                            <i class="devicon-photoshop-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="Azure">
                            <i class="devicon-azure-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="TypeScript">
                            <i class="devicon-typescript-plain"></i>
                        </li>
                    </ul>
                </div>
                <div class="list-card">
                    <h3>{t("index:SkillsSoftwareAndPlatforms")}</h3>
                    <ul class="software-experience">
                        <li>
                            <a href="https://www.abbyy.com/flexicapture/" target="_blank">ABBYY FlexiCapture</a>
                        </li>
                        <li>
                            <a href="https://www.abbyy.com/finereader-server/" target="_blank"> ABBYY FineReader Server</a>
                        </li>
                        <li>
                            <a href="https://www.abbyy.com/vantage/" target="_blank">ABBYY Vantage</a>
                        </li>
                        <li>
                            <a href="https://www.microsoft.com/cs-cz/microsoft-365/sharepoint/collaboration" target="_blank">Microsoft SharePoint</a>
                        </li>
                        <li>
                            <a href="https://powerplatform.microsoft.com/en-us/" target="_blank"> Microsoft PowerPlaftorm</a>
                        </li>
                        <li>
                            <a href="https://www.m-files.com/" target="_blank">M-Files</a>
                        </li>
                        <li>
                            <a href="https://www.nintex.com/process-automation/k2-software/" target="_blank"> K2 Five/K2 Cloud</a>
                        </li>
                    </ul>
                    <p>
                        {t("index:SkillsSoftwareAndPlatformsDescription")}
                    </p>
                </div>
            </section>

            <!-- Certifications section -->
            <h2 class="section-title">{t("index:SectionCertifications")}</h2>
            <section class="certifications">
                <div class="list-card certifications">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            Microsoft Certified: Power Platform Fundamentals (PL-900)
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            Microsoft Certified: Microsoft Dynamics 365 Fundamentals (PL-900)
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            ABBYY FlexiCapture 12 Basic
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            K2 IT Developer
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            K2 Business Analyst
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            K2 Citizen Developer
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            M-Files Solution Engineer
                        </li>
                    </ul>
                    <p><Fragment set:html={t("index:CertLinkedIn")}/></p>
                </div>
            </section>

            <!-- Life timeline -->
            <h2 class="section-title pagebreak">{t("index:TimelineTitle")}</h2>
            <section class="timeline">
                <div class="timeline-card">
                    <h3>{t("index:SectionExperience")}</h3>
                    <div class="meta">
                        <p class="title">ECM Business Consultant</p>
                        <p>Konica Minolta IT Solutions Czech s.r.o</p>
                        <span class="date">{t("index:ECMBusinessConsultantDate")}</span>
                        <p class="description">
                            {t("index:ECMBusinessConsultantDescription")}
                        </p>
                    </div>
                    <div class="meta">
                        <p class="title">Analyst, Shared Services</p>
                        <p>MONETA Money Bank a.s.</p>
                        <span class="date">{t("index:MonetaAnalystDate")}</span>
                        <p class="description">
                            {t("index:MonetaAnalystDescription")}
                        </p>
                    </div>
                    <div class="meta">
                        <p class="title">Administrator End User Services, IT</p>
                        <p>MONETA Money Bank a.s.</p>
                        <span class="date">{t("index:MonetaEndUserServicesDate")}</span>
                        <p class="description">
                            {t("index:MonetaEndUserServicesDescription")}
                        </p>
                    </div>
                    <div class="meta">
                        <p class="title">Motherboard technician</p>
                        <p>ASUS Czech Service s.r.o.</p>
                        <span class="date">{t("index:AsusTechnicianDate")}</span>
                        <p class="description">
                            {t("index:AsusTechnicianDescription")}
                        </p>
                    </div>
                </div>
                <div class="timeline-card">
                    <h3>{t("index:SectionEducation")}</h3>
                    <div class="meta">
                        <p class="title">{t("index:HighSchoolNaJizdarne")}</p>
                        <p>{t("index:MaturityDiploma")}</p>
                        <span class="date">2010 - 2014</span>
                        <p class="description">{t("index:HighSchoolNaJizdarneDescription")}</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!-- Footer -->
    <footer class="footer-container">
        <p>{t("footer:PageCreatedBy")}</p>
        <p><Fragment set:html={t("footer:Host")}/></p>
        <p><Fragment set:html={t("footer:Design")}/></p>
    </footer>
</Layout>
