---
import Layout from "../layouts/Layout.astro";
import "../styles/styles.css";
import ThemeToggle from "../components/ThemeToggle.astro";
import LanguageSelector from "../components/LanguageSelector.astro";
---

<Layout title="Welcome to Astro.">
    <div class="page-wrapper">
        <div class="header-container">
            <header>
                <ThemeToggle />
                <LanguageSelector />
            </header>
        </div>
        <main class="main-grid">
            <div class="about-container">
                <!-- Introduction -->
                <div class="hero">
                    <div class="profile">
                        <img class="img-profile" src="/assets/img/profile.png" />
                        <div class="name">
                            <h1 class="name-header">
                                <strong>Dalibor</strong> Hon
                            </h1>
                            <span class="job-title">Business Consultant</span>
                        </div>
                    </div>
                    <div class="social">
                        <button class="button" onclick="window.print()"><a href="#">Download resume</a></button>
                        <button class="button"><a href="https://www.linkedin.com/in/dalibor-hon/" target="_blank">LinkedIn</a></button>
                    </div>
                    <h2 class="lead">Analysis, design and implementation of sofware for small and large companies.</h2>
                    <p class="about-me">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Maecenas libero. Fusce tellus. Nunc dapibus tortor vel mi
                        dapibus sollicitudin. Aenean fermentum risus id tortor. Ut tempus purus at lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    </p>
                </div>

                <!-- Achievements -->
                <section class="skill-cards-container">
                    <div class="skill-card" onclick="this.classList.toggle('active');">
                        <div class="skill">
                            <div class="skill-level">
                                <span>+</span>
                                <h2 data-count="45">45</h2>
                            </div>
                            <div class="skill-meta">
                                <h3>Implemented Projects</h3>
                                <span>Adapting and creating solutions for customer's needs.</span>
                                <p>Click for more info.</p>
                            </div>
                        </div>
                        <div class="skill-details">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Maecenas libero. Fusce tellus. Nunc dapibus tortor
                                vel mi dapibus sollicitudin. Aenean fermentum risus id tortor. Ut tempus purus at lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <div class="skill-card" onclick="this.classList.toggle('active');">
                        <div class="skill">
                            <div class="skill-level">
                                <h2 data-count="50">50</h2>
                                <span>%</span>
                            </div>
                            <div class="skill-meta">
                                <h3>Business Analysis</h3>
                                <span>Analysing customer needs, creating analytic documents and developer assignments.</span>
                            </div>
                        </div>
                        <div class="skill-details">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Maecenas libero. Fusce tellus. Nunc dapibus tortor
                                vel mi dapibus sollicitudin. Aenean fermentum risus id tortor. Ut tempus purus at lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            </p>
                        </div>
                    </div>

                    <div class="skill-card" onclick="this.classList.toggle('active');">
                        <div class="skill">
                            <div class="skill-level">
                                <h2 data-count="30">30</h2>
                                <span>%</span>
                            </div>

                            <div class="skill-meta">
                                <h3>Implementation</h3>
                                <span>Installing software, configuring low-code/no-code platforms.</span>
                            </div>
                        </div>
                        <div class="skill-details">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Maecenas libero. Fusce tellus. Nunc dapibus tortor
                                vel mi dapibus sollicitudin. Aenean fermentum risus id tortor. Ut tempus purus at lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            </p>
                        </div>
                    </div>

                    <div class="skill-card" onclick="this.classList.toggle('active');">
                        <div class="skill">
                            <div class="skill-level">
                                <h2 data-count="20">20</h2>
                                <span>%</span>
                            </div>

                            <div class="skill-meta">
                                <h3>Programming</h3>
                                <span>Programming new software and extending existing ones.</span>
                            </div>
                        </div>
                        <div class="skill-details">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Maecenas libero. Fusce tellus. Nunc dapibus tortor
                                vel mi dapibus sollicitudin. Aenean fermentum risus id tortor. Ut tempus purus at lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <hr class="spacer" />
            <!-- Skills section -->
            <h2 class="section-title">Skills</h2>
            <section class="skills">
                <p>
                    Of course there's a lot to cover. As an business consultant I touched almost everything, from Windows Servers, through IIS configuration to pieces of code. Below are just the most noteworthy
                    mentions.
                </p>

                <div class="list-card exp">
                    <div class="exp-text">+ 1 years</div>
                    <div class="exp-description">
                        <h3>Object oriented programming</h3>
                        <span>Integrations, C#, custom in-house applications...</span>
                    </div>
                </div>

                <div class="list-card exp">
                    <div class="exp-text">+ 2 years</div>
                    <div class="exp-description">
                        <h3>Business analysis</h3>
                        <span>Process mapping, UML, developer coordination...</span>
                    </div>
                </div>

                <div class="list-card exp">
                    <div class="exp-text">+ 2 years</div>
                    <div class="exp-description">
                        <h3>Windows servers</h3>
                        <span>Configuring servers, installing required software (on-premise, Azure, and such)...</span>
                    </div>
                </div>

                <div class="list-card exp">
                    <div class="exp-text">+ 4 years</div>
                    <div class="exp-description">
                        <h3>Relational databases</h3>
                        <span>SQL, PLSQL, T-SQL, reporting and procedures...</span>
                    </div>
                </div>

                <div class="list-card">
                    <h3>Programming Languages And Tools</h3>
                    <ul class="dev-list-inline">
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="HTML5">
                            <i class="fab fa-html5"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="CSS3">
                            <i class="fab fa-css3-alt"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="JavaScript">
                            <i class="fab fa-js-square"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="Node JS">
                            <i class="fab fa-node-js"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="SASS">
                            <i class="fab fa-sass"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="NPM">
                            <i class="fab fa-npm"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="Webpack">
                            <i class="devicon-webpack-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="C#">
                            <i class="devicon-csharp-line"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text=".NET Framework">
                            <i class="devicon-dot-net-plain-wordmark"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text=".NET Core">
                            <i class="devicon-dotnetcore-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="Bootstrap">
                            <i class="devicon-bootstrap-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="MSSQL">
                            <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="GIT">
                            <i class="devicon-git-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="jQuery">
                            <i class="devicon-jquery-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="Adobe Photoshop">
                            <i class="devicon-photoshop-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="Azure">
                            <i class="devicon-azure-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" data-tooltip="bottom" data-tooltip-text="TypeScript">
                            <i class="devicon-typescript-plain"></i>
                        </li>
                    </ul>
                </div>
                <div class="list-card">
                    <h3>Software and platforms</h3>
                    <ul class="software-experience">
                        <li>
                            <a href="https://www.abbyy.com/flexicapture/" target="_blank">ABBYY FlexiCapture</a>
                        </li>
                        <li>
                            <a href="https://www.abbyy.com/finereader-server/" target="_blank"> ABBYY FineReader Server</a>
                        </li>
                        <li>
                            <a href="https://www.abbyy.com/vantage/" target="_blank">ABBYY Vantage</a>
                        </li>
                        <li>
                            <a href="https://www.microsoft.com/cs-cz/microsoft-365/sharepoint/collaboration" target="_blank">Microsoft SharePoint</a>
                        </li>
                        <li>
                            <a href="https://powerplatform.microsoft.com/en-us/" target="_blank"> Microsoft PowerPlaftorm</a>
                        </li>
                        <li>
                            <a href="https://www.m-files.com/" target="_blank">M-Files</a>
                        </li>
                        <li>
                            <a href="https://www.nintex.com/process-automation/k2-software/" target="_blank"> K2 Five/K2 Cloud</a>
                        </li>
                    </ul>
                    <p>
                        I have experience with these software and platforms both in implementation and in customization of solutions for our customers. Integration with other related systems is also a part of
                        my experience. In my career, I have also encountered a wide range of ERP systems such as Dynamics 365 Business Central, Helios Green, Karat! etc.
                    </p>
                </div>
            </section>

            <!-- Certifications section -->
            <h2 class="section-title">Certifications</h2>
            <section class="certifications">
                <div class="list-card certifications">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            Microsoft Certified: Power Platform Fundamentals (PL-900)
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            Microsoft Certified: Microsoft Dynamics 365 Fundamentals (PL-900)
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            ABBYY FlexiCapture 12 Basic
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            K2 IT Developer
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            K2 Business Analyst
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            K2 Citizen Developer
                        </li>
                        <li>
                            <span class="fa-li text-primary"><i class="fas fa-trophy"></i></span>
                            M-Files Solution Engineer
                        </li>
                    </ul>
                    <p>You can find current certifications on my <a href="https://www.linkedin.com/in/dalibor-hon/" target="_blank">LinkedIn profile</a>.</p>
                </div>
            </section>

            <!-- Life timeline -->
            <h2 class="section-title pagebreak">Life timeline</h2>
            <section class="timeline">
                <div class="timeline-card">
                    <h3>Experiences</h3>
                    <div class="meta">
                        <p class="title">ECM Business Consultant</p>
                        <p>Konica Minolta IT Solutions Czech s.r.o</p>
                        <span class="date">April 2020 - Present</span>
                        <p class="description">
                            Consulting in the scope of office digitization and getting rid of paper processes in companies. Digitization includes automatic extraction of data from documents, integration with
                            internal systems customer and possibly also the introduction of new systems, such as the document management systems (DMS. Use of agile methodologies, but also of waterfall. Close
                            cooperation with the customer and internal teams, such as the development department, when creating development assignments and business analyses. Consulting also includes customer
                            training for working with new implemented systems.
                        </p>
                    </div>
                    <div class="meta">
                        <p class="title">Analyst, Shared Services</p>
                        <p>MONETA Money Bank a.s.</p>
                        <span class="date">September 2018 - March 2020</span>
                        <p class="description">
                            Creating reports using tools such as Microsoft Excel, SQL (Oracle), Microsoft Access, PowerBI and SAS BI. Part of the job also was creating process analysis for commercial (SMB)
                            backoffice, with a focus on the RWA (risk-weighted asset) commercial process.
                        </p>
                    </div>
                    <div class="meta">
                        <p class="title">Administrator End User Services, IT</p>
                        <p>MONETA Money Bank a.s.</p>
                        <span class="date">July 2017 - August 2018</span>
                        <p class="description">
                            Support of internal end users by phone, email and other channels. Working with the ticketing system, escalating important issues and also a bit of programming. Here I gradually
                            started to learn mainly VBScript with macros in Microsoft Excel.
                        </p>
                    </div>
                    <div class="meta">
                        <p class="title">Motherboard technician</p>
                        <p>ASUS Czech Service s.r.o.</p>
                        <span class="date">October 2014 - April 2017</span>
                        <p class="description">Repairing motherboards of all kinds on micro level. Soldering, measuring (with oscilloscope), and of course reading in motherboard schematics.</p>
                    </div>
                </div>
                <div class="timeline-card">
                    <h3>Education</h3>
                    <div class="meta">
                        <p class="title">High School of Electrical Engineering Ostrava, Na Jízdárně</p>
                        <p>GCE Advanced Level</p>
                        <span class="date">2010 - 2014</span>
                        <p class="description">Mechanical and electrical engineering - computer and security systems</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!-- Footer -->
    <footer class="footer-container">
        <p>Created by: Dalibor Hon</p>
        <p>Hosted with ❤️ by <a href="https://www.github.com">GitHub</a>. Built with <a href="https://astro.build/"><span class="svg-astro"></span></a>.</p>
        <p>Original design by <a href="https://newtodesign.com/minimal-html-css-resume-template/">New to design</a>.</p>
    </footer>
</Layout>

<style></style>
