---
export interface Props {
    dialogId: string;
    modalTitle?: string;
    openDialog?: boolean;
    closeButtonText?: string;
    openOnce?: boolean;
}

const { closeButtonText = "Cancel", openOnce = false, openDialog = false, dialogId, modalTitle = "A wild modal appeared!" } = Astro.props;
---

<dialog id={dialogId} autofocus>
    <form method="dialog">
        <div class="dialog-header">
            <span>{modalTitle}</span>
        </div>
        <div class="dialog-body">
            <slot name="body"/>
        </div>
        <div class="dialog-footer">
            <slot name="footer"/>
            <button class="button" value="cancel">{closeButtonText}</button>
        </div>
    </form>
</dialog>

<script define:vars={{openDialog: openDialog, dialogId: dialogId, openOnce: openOnce}}>
    let dialog = document.getElementById(dialogId);

    if (openDialog)
    {
        if (openOnce)
        {
            let openedOnce = window.localStorage.getItem(dialogId);
            if (openedOnce === "true") return;
            window.localStorage.setItem(dialogId, "true")
        }
        dialog.showModal();
    }
</script>

<style>
    dialog {
        margin-top: calc(100vh/4);
        color: var(--body-color);
        line-height: 1.6;
        border: 1px solid var(--accent-color);
        background-color: var(--skill-card-bg);
        padding: 0;
        border-radius: 0.4rem;
        min-width: calc(100vw / 4);
        max-width: calc(100vw / 5);
    }

    dialog > form {
        display: flex;
        flex-direction: column;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .dialog-header {
        font-weight: 600;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid var(--accent-color);
    }

    .dialog-header > span {
        padding: 0;
        margin: 0;
    }

    .dialog-body {
        padding: 1rem;
    }

    .dialog-footer {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem 1rem;
        border-top: 1px solid var(--accent-color)
    }

    .dialog-footer a,
    button {
        margin-right: 0.35em;
    }

    .dialog-footer .button {
        min-width: unset;
    }

    .dialog-footer button:last-child {
        margin-right: 0em;
    }

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(2px);
    }

    @media (max-width: 768px) { 
        dialog {
            max-width: calc(100vw - 10%);
        }
         
    }
</style>