---
// Credits: https://m2.material.io/design/color/dark-theme.html
---

<button class="theme-switch-wrapper" tabindex="1">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="icons">
            <svg class="feather feather-moon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
        </div>
    </label>
</button>

<script>
    // Get the theme toggle input
    const themeToggle = document.querySelector('.theme-switch input[type="checkbox"]') as HTMLInputElement;
    // Get current theme and set the input box
    const setInput = () => {
        let currentTheme = localStorage.getItem("theme");
        if (currentTheme === null) return;

        switch (currentTheme) {
            case "dark":
                themeToggle.checked = true;
                break;
            case "light":
                themeToggle.checked = false;
            default:
                break;
        }
    }
    setInput();
    
    // Function that will switch the theme based on if the theme toggle is checked or not
    const switchInputTheme = (e: Event) => {
        if (e === null) return;

        if ((e.target as HTMLInputElement).checked) {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
        } else {
            document.documentElement.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light");
        }
    };

    // Add an event listener to the theme toggle, which will switch the theme
    themeToggle.addEventListener("change", switchInputTheme, false);
</script>

<style>
    .theme-switch-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms;
        border: none;
        background: none;
        padding: 0;
    }

    .theme-switch {
        padding: 1rem;
    }

    .theme-switch input {
        display: none;
    }

    .icons {
        position: relative;
        cursor: pointer;
        width: 22px;
        height: 22px;
    }

    .feather {
        transition: transform 500ms ease, 
                    opacity 300ms ease, 
                    fill 300ms ease;
    }

    .feather-moon {
        opacity: 1;
        width: 22px;
        height: 22px;
        stroke: var(--button-color);
        stroke-width: 1.2px;
        fill: transparent;
    }

    html[data-theme="dark"] .feather-moon
    {
        fill: #ffce45;
        stroke: #ffce45;
    }
</style>
